<% @tasks.each do |task| %>
<h1><%= link_to "#{task.title}", task_path(task.id) %></h1>
<p><%= task.details %></p>
  <% if task.completed %>
  <p style="font-size: 20px;"><i class="far fa-check-circle"></i> task.completed</p>
  <% end %>
<% end %>


<%= link_to "Add task", new_task_path %>
